<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="browser" value="Chrome"/>
    <add key="defaultURL" value="https://mark7.herokuapp.com"/>
    <add key="apiRemoveUserTasks" value="https://mark7.herokuapp.com/api/tasks_delete/kd@qaninja.io"/>
  </appSettings>
</configuration>
